streamlit
supabase
llama-index==0.14.16
llama-index-llms-groq==0.5.0
llama-index-embeddings-huggingface==0.7.0
groq
transformers
huggingface-hub
sentencepiece
scipy
scikit-learn
pandas
matplotlib
seaborn
python-dotenv
requests
llama-index-llms-groq